apiVersion: v1
kind: Service
metadata:
  name: redis-slave
  labels:
    app: redis
    role: slave
spec:
  type: ClusterIP
  ports:
  - port: 6379
    targetPort: 6379
    protocol: TCP
    name: redis
  selector:
    app: redis
    role: slave
---
apiVersion: v1
kind: Service
metadata:
  name: redis-slave-nodeport
  labels:
    app: redis
    role: slave
spec:
  type: NodePort
  ports:
  - port: 6379
    targetPort: 6379
    nodePort: 30638
    protocol: TCP
    name: redis
  selector:
    app: redis
    role: slave

