apiVersion: v1
kind: Service
metadata:
  name: xy-portal-backend
  labels:
    app: xy-portal-backend
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: xy-portal-backend
---
apiVersion: v1
kind: Service
metadata:
  name: xy-portal-backend-nodeport
  labels:
    app: xy-portal-backend
spec:
  type: NodePort
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
    protocol: TCP
    name: http
  selector:
    app: xy-portal-backend

