apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  labels:
    app: mysql
type: Opaque
data:
  # root 密码: root (base64 编码)
  root-password: cm9vdA==
  # 数据库用户密码: xyportal (base64 编码)
  db-password: eHlwb3J0YWw=

