apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-master-pvc
  labels:
    app: redis
    role: master
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-storage
  resources:
    requests:
      storage: 10Gi

